@charset "UTF-8";

i, cite, em, var, address, dfn {
  font-style: normal;
}

@font-face {
  font-family: "fontawesome";
  src:url("fonts/fontawesome.eot");
  src:url("fonts/fontawesome.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontawesome.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "fontawesome" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "fontawesome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-thumb-tack:before {
  content: "\61";
}
.fa-location-arrow:before {
  content: "\62";
}
.fa-map-marker:before {
  content: "\63";
}
.fa-search:before {
  content: "\64";
}
.fa-square:before {
  content: "\65";
}
.fa-square-o:before {
  content: "\66";
}
.fa-facebook-square:before {
  content: "\67";
}
.fa-instagram:before {
  content: "\68";
}
.fa-twitter-square:before {
  content: "\69";
}
.fa-youtube-square:before {
  content: "\6a";
}
.fa-google-plus-square:before {
  content: "\6b";
}
.fa-info-circle:before {
  content: "\6c";
  vertical-align: bottom;
}
.fa-question-circle:before {
  content: "\6d";
}
.fa-university:before {
  content: "\6e";
}
.fa-money:before {
  content: "\6f";
}
.fa-check-square-o:before {
  content: "\70";
}
.fa-list:before {
  content: "\72";
}
.fa-th-list:before {
  content: "\73";
}
.fa-phone:before {
  content: "\74";
  vertical-align: bottom;
}
.fa-envelope:before {
  content: "\76";
}
.fa-external-link-square:before {
  content: "\79";
}
.fa-external-link:before {
  content: "\7a";
}
.fa-fax:before {
  content: "\41";
  vertical-align: bottom;
}
.fa-print:before {
  content: "\46";
}
.fa-youtube-play:before {
  content: "\71";
}
.fa-map-o:before {
  content: "\77";
}
.fa-map-pin:before {
  content: "\78";
}
.fa-map:before {
  content: "\75";
}
.fa-comment-o:before {
  content: "\42";
}
.fa-exclamation-circle:before {
  content: "\43";
  vertical-align: bottom;
}
.fa-exclamation-triangle:before {
  content: "\44";
  vertical-align: text-top;
}
